.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
.card-body > header {
    padding: 0px!important;
}
  
.table-header-right {
    width: 650px!important;
}

.table-header-left {
}